.task__wraper {
  display: flex;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 0.5rem;
  padding: 2px;
}

.task__item_num {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 5rem;
}

.task__title_wrap {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.task__tool_wraper {
  display: flex;
  column-gap: 0.2rem;
  margin-right: 1rem;
  column-gap: 0.5rem;
}
