body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.App__wrap {
  display: flex;
  flex-direction: column;
  background: chocolate;
  min-width: 30vw;
}

.form__addtask {
  display: flex;
}
.form__addtask input {
  width: 100%;
}
.form__addtask button {
  white-space: nowrap;
}

.task__wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: gray;
  padding: 1rem;
  column-gap: 1rem;
}

.task__tool_wraper {
  display: flex;
  column-gap: 1rem;
}
