@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-content: center;
  justify-content: center;
}
h1 {
  font-size: 3.5rem;
  font-weight: 900;
}
.App__wrap {
  display: flex;
  flex-direction: column;
  min-width: 30vw;
}

/* ----------------------- Header Style ------------------ */
.header__wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  position: relative;
}
.theme__switch_wrap {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}
.theme__switch_wrap img {
  width: 40px;
}
.welcome__wrap {
  display: flex;
  border-bottom: 1px solid rgb(224, 221, 210);
  align-items: center;
  margin-top: 5rem;
}
.hello__welcome {
  font-weight: 300;
  margin: 0 0.5rem 0 5rem;
}
.name__welcome {
  cursor: pointer;
}
.edit__welcom_name {
  align-self: flex-end;
  cursor: pointer;
}

.edit__name_input {
  all: unset;
  font-size: 2rem;
  margin: 0.5rem 0 0 1rem;
}

.count__task_wrap {
  display: flex;
  align-items: center;
  margin-left: 10rem;
}
.task__number {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(157, 71, 17);
  color: wheat;
  border-radius: 50%;
  margin: -0.5rem 0.5rem;
}
/* ----------------------- From Style -------------------- */
.form__wrap {
  margin: 2rem 0;
}
.form__addtask {
  display: flex;
}

.form__addtask button {
  padding: 0 1rem;
  white-space: nowrap;
  border: 0;
  outline: 0;
  font-size: 1rem;
  font-weight: 600;
}

/* -----------------------Info under Input-------------------- */

.info__wrap {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  column-gap: 1rem;
}
.info__icon_wrap {
  height: 100%;
  background: #ece3d6;
  padding: 0.6rem;
}
.info__icon {
  width: 32px;
  height: auto;
}
.info__icon g {
  fill: #FFFFF;
}

/* -----------------------Task Style -------------------- */
.task__wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: gray;
  padding: 1rem;
  column-gap: 1rem;
}

.task__tool_wraper {
  display: flex;
  column-gap: 1rem;
}
.task__tool_wraper button {
  outline: none;
  border: none;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}
.task__icon {
  width: 32px;
  height: auto;
  pointer-events: none;
}
