@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-content: center;
  justify-content: center;
}

.App__wrap {
  display: flex;
  flex-direction: column;
  min-width: 30vw;
}
